/* ===============================================
# DASHBOARD LAYOUT
=============================================== */
/* -----------------------------------------------
# Sidebar
----------------------------------------------- */
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 250px; 
  transform: translateX(-250px);
  background-color:$fifth-color;
  color: $primary-text-color;
  transition: transform 0.3s ease;
  z-index: 2;
  /*padding: 0;*/

  header{
    padding: 20px;
    text-align: center;
  
    img.logo{height:40px;}
  }  
}
.sidebar.visible {transform: translateX(0);}
  
/* -----------------------------------------------
# Main 
----------------------------------------------- */
.main {
  transition: margin-left 0.3s ease;
  margin-left: 0; 
}
.main.shifted {margin-left: 250px;}
  
/* # Navbar
------------------------------------------------- */
.navbar {
  background-color:$primary-color;
  color: $primary-text-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border-bottom: 1px solid $tertiary-color;
}
/* ------------------ Menu-toggle --------------- */
.menu-toggle {
  background: none;
  border: none;
  color: $primary-text-color;
  cursor: pointer;
  font-size: 16px;
}
/* ------------------ Navbar-links --------------- */
.navbar-links {
  display: flex;
  
  a {
    color:$primary-text-color;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
    font-size:1rem;
    line-height: 1.5rem;
    display:flex;
    align-items: center;
    border-bottom: 2px solid transparent;

    &:hover {
      background-color: $secondary-color;
      border-bottom: 2px solid $highlight-color;
      color:$primary-text-color;

      i{color:$highlight-color;}
    }
    
    i{color:$primary-text-color;}    
  }  
}


/* ------------------ Dropdown-user --------------- */
/*Dropdown-user*/
.dropdown-user {
  position: relative;
  display: inline-block;

  &:hover .dropbtn {
    background-color: $secondary-color;
    color:$primary-text-color;
  }  

  /*button*/
  .dropbtn {
    background-color:$primary-color;
    color:$primary-text-color;
    padding: 10px 15px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    display:flex;
    align-items:center;  
    height: 100%;

    i{
      margin-right: 10px;
    }

  }  

  /*Dropdown-links*/
  &:hover .dropdown-user-links {display: block;}
  .dropdown-user-links {
    display: none;
    position: absolute;
    background-color:$primary-color;
    min-width: 160px;
    width:100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right:0;

    a {
      color: $primary-text-color;
      padding: 10px 15px;
      text-decoration: none;
      display: block;
      text-align:right;
      border-bottom: none;
    
      &:hover {
        background-color:$secondary-color;
      }  

      i{
        color:$highlight-color;
        margin-left:5px;
      }    
    }  
  }

}


/* ------------------ Content ------------------ */
.content {
  background-color: $secondary-color;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 20px;

  footer{
    margin-top: auto; 
    text-align: center;
    padding: 20px; 
  
    p{margin-bottom: 10px;}  
  }  
}

/* ==============================================
# MEDIAQUERIES
============================================== */
/* # Mobile
-------------------------------------------------------------------- */
/*=> 640px Igual o mayor a 640px se aplicarán los siguientes estilos */
@media (min-width: 640px) {}
/* # Tablet
-------------------------------------------------------------------- */
/*=> 768px Igual o mayor a 768px se aplicarán los siguientes estilos */
@media (min-width: 768px) {
  .sidebar {
    width: 250px; 
    transform: translateX(-250px); 
  }
  .main.shifted {margin-left: 250px;}  
}
/* # Desktop
-------------------------------------------------------------------- */
/*=> 1024px Igual o mayor a 1024px se aplicarán los siguientes estilos */
@media (min-width: 1024px) {}
/*=> 1280px Igual o mayor a 1280px se aplicarán los siguientes estilos */
@media (min-width: 1280px) {}