  /* # PANEL
  ---------------------------------------------- */
  .panel {
    background-color:lightgray;
    background-clip: border-box;
    border-radius: 1rem;
  }

  /*--------------- Panel-header ---------------*/
  .panel-header {
    padding:1rem;
    background-color:black;
    color:white;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    border-radius:1rem 1rem 0 0;
  }
  /*.panel-header:first-child{border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;}*/

  /*--------------- Panel-body ---------------*/
  .panel-body {padding:1rem;} 

  /*--------------- Panel-footer ---------------*/
  .panel-footer {
    padding:1rem;
    border-radius:0 0 1rem 1rem ;
    background-color:gray;
  } 

