.table-responsive {
  overflow-x:auto;
}

table {
  width: 100%;
  min-width: 800px;
  border-collapse: collapse;
}

thead {
  background-color: $seventy-color;
  color: $white-color;
}

tbody tr{
  background-color:$primary-color; 

  &:nth-child(even) {
    background-color: $secondary-color; 
  }
  
  &:hover {
    background-color: $tertiary-color; 
  }  
}

td, th {
  padding: 8px;
  font-size: 0.750rem; 
  text-align: left;
  border: 1px solid $tertiary-color;
}

/*Tablas con contenido alineado hacia la derecha*/
table.align-right{
  th, 
  td {text-align: right;}

  th:first-child,
  td:first-child {
    text-align: left; 
  }   
}

/* ==============================================
# MEDIAQUERIES
============================================== */
/* # Mobile
-------------------------------------------------------------------- */
@media (min-width: 425px) {}

/*=> 640px Igual o mayor a 640px se aplicarán los siguientes estilos */
@media (min-width: 640px) {
  th, td {
    padding: 12px; 
    font-size: 1rem; 
  }
}    