/* ==============================================
# LABELS
============================================== */

.label {
  display: inline;
  padding: .3rem 1rem;
  font-size: 75%;
  //font-weight: bold;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 1rem;
}
.label{color: $primary-color;}
.label-primary {background-color: $fourth-color;}
.label-warning {background-color: $warning-color;}
.label-success{background-color: $success-color;}
.label-danger {background-color: $danger-color;}
