  /* # PANEL
  ---------------------------------------------- */
  .panel {
    background-color:$primary-color;
    background-clip: border-box;
    border-radius: 0.5rem;
    border:1px solid $tertiary-color;
    margin-bottom: 0.5rem;

    .panel-header {
      padding:1rem;
      background-color:$secondary-color;
      color:white;
      border-bottom: 1px solid rgba(0, 0, 0, .125);
      border-radius:0.5rem 0.5rem 0 0;
    }    

    .panel-body {padding:1rem;}     

    footer.panel-footer {
      background-color:$secondary-color;
      padding:1rem;
      border-radius:0 0 0.5rem 0.5rem ;      
      text-align: left;
    }     
  }

/* # Elements for this proyect
------------------------------------ */
.panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h3{margin-bottom: 0;}

  button{    
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: none;
    cursor: pointer;
    background-color: $secondary-color;

    &:hover{
      background-color: $tertiary-color;
    }    

    i{
      color: $primary-text-color;
    }

  }
}
