/* ==============================================
# ADD Input
============================================== */
/* Estilo para el botón de agregar un elemento */

.newAreaItem {
  margin-top: 15px;
}

/* Estilos para los labels e inputs*/
.areaItemContainer label, 
.newAreaItem label {
	display: block;
	font-size: 1rem;
	margin-bottom: 5px;
} 
.areaItemContainer input, 
.newAreaItem input {
  padding: 0.375rem 0.75rem;
	font-size: 1rem;
	width: 100%;
	/*max-width: 300px;*/
	border-radius: 5px;
	border: 1px solid $primary-color;
	box-sizing: border-box;
}
.areaItemContainer input:hover,
.areaItemContainer input:focus,
.newAreaItem input:hover,
.newAreaItem input:focus {
	border-color: $highlight-color;
	outline: none;
}

.areaItemContainer {
	margin-bottom: 1rem;
	font-size: 1rem;
}

/* Estilo para el contenedor que agrupa el input y el ícono */
.input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.input-area {
    width: 90%;
}

/* Opcional: Estilo para el div que contiene cada elemento */
.elemento-agregado {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

/* Opcional: Estilos adicionales para los labels */
.label-area {
    margin-bottom: 5px;
}


/* Estilo para el ícono de la papelera */
.btn-trash {
    cursor: pointer;
    color: $primary-text-color;
    font-size: 1rem;
    margin-left: 10px;
    transition: color 0.3s ease;
    padding: 1rem;
}
.btn-trash:hover {
    color: $danger-color;
}