ul.secondary_menu{
  display: flex;
  padding: 0 0 1rem;
  overflow-x: auto;
  white-space: nowrap; 

  li{
    padding: 5px 10px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    transition: border-color ease-in 0.5s;
    flex: 0 0 auto;

    &:hover{
      border-bottom: 2px solid $highlight-color;

      a{
        color:$highlight-color;
        font-weight: bold;
      }      
    }

    &.active{
      border-bottom: 2px solid $highlight-color;
  
      a{
        color:$highlight-color;
        font-weight: bold;
      }    
    }   
    
    a{
      color:$primary-text-color;
    }    

  }
  
}