/* Imported files and fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*Variables scss  */
/*Fonts*/
$primary-font:"Montserrat", serif;
$secondary-font:"Roboto", serif;

/*Colors*/
$primary-color: #ffffff;
$secondary-color: #ebf5f8;
$tertiary-color: #cedaf8;
$fourth-color: #A3B9F1;
$fifth-color: #7A99E1;
$sixty-color:#528BD7;
$seventy-color:#1A6AB4; 
$primary-text-color:#011E44;
/*No cambian*/
$white-color:#ffffff;
$gray-color:#5c5c5c;
$highlight-color:#0F4C95;
$strong-highlight-color:#ca3c2f; /*Eliminar este color*/
$success-color:#35a038;
$warning-color:#db9a17;
$danger-color:#b92214;

