/* Imported files and fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Variables scss  */
/*Fonts*/
$primary-font:"Roboto", sans-serif;
$secondary-font:"Kanit", sans-serif;
/*Colors*/
$primary-color: #ffffff;
$secondary-color: #e9eee8;
$tertiary-color: #c4cddb;
$fourth-color: #03559E;
$fifth-color: #134983;
$sixty-color: #19345B;
$primary-text-color:#1F2937;
/*No cambian*/
$highlight-color:#E84A3C;
$strong-highlight-color:#ca3c2f;
$white-color:#ffffff;
$success-color:#4CAF50;
$warning-color:#F3C057;
$danger-color:#E85446;

