/* ==============================================
# LABELS
============================================== */

.label {
  display: inline;
  padding: .3rem 1rem;
  font-size: 75%;
  //font-weight: bold;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 1rem;
}

.label-circle {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  font-size: 0.5rem;
  line-height: 1rem;
  text-align: center;  
}

.label{color: $primary-color;}
.label-primary {
  background-color: $fourth-color;
  i{color:$primary-color;}
}
.label-warning {
  background-color: $warning-color;
  i{color:$primary-color;}
}
.label-success{
  background-color: $success-color;
  i{color:$primary-color;}
}
.label-danger {
  background-color: $danger-color;
  i{color:$primary-color;}
}
.label-disable {
  background-color: $fourth-color;
  i{color:$primary-color;}
}