
/* Quitar padding de elementos de FOrmulario cuando está deshabilitado */
.myForm input:disabled,
.myForm select:disabled,
.myForm textarea:disabled {
  border: none;
  padding: 0;
  background-color: transparent;
  color: inherit;
  pointer-events: none;
  color:$primary-text-color;
}

/* Ocultar flecha del select cuando está deshabilitado */
.myForm select:disabled {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: none !important;
}

/* Compatibilidad con Edge/IE */
.myForm select:disabled::-ms-expand {
  display: none;
}

/* Ocultar por defecto los botones de cancelar y guardar */
#cancelBtn,
#saveBtn {
  display: none;
}