/*--------------- # Pagination ---------------*/
.pagination {
  display: flex;
  align-items: center;
  gap: 8px;
  .controls {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 4px; 
    .text{display: none;}
    &:hover .text, 
    &:hover i {color:$primary-text-color;}
  }
  .total-pages{display: none;}
  .page-input {
    width: 50px;
    text-align: center;
    padding:2px;
    background-color: $primary-color;
    color:$primary-text-color;
    border: 1px solid $tertiary-color;
    border-radius: 0.25rem;
    height: calc(1.5em + 0.75rem + 2px);
    transition: border-color 0.15s ease-in-out;
    &:hover {border-color: $fifth-color;}
    &:focus {
      border-color:$highlight-color;
      outline: 0;
    }
    &::placeholder {
      color: $primary-text-color;
      opacity: 1;
    }      
  }        
}

/*--------------- # Total-pages ---------------*/
.total-pages,
.controls .text, 
.controls i {
  color:$fourth-color;
  font-size: 1rem;
  line-height: 1.5;
}

/* ==============================================
# MEDIAQUERIES
============================================== */
/* # Mobile
-------------------------------------------------------------------- */
@media (min-width: 425px) {}

/*=> 640px Igual o mayor a 640px se aplicarán los siguientes estilos */
@media (min-width: 640px) {}    

/* # Tablet
-------------------------------------------------------------------- */
/*=> 768px Igual o mayor a 768px se aplicarán los siguientes estilos */
@media (min-width: 768px) {
    /*Pagination*/
    .pagination{
      .controls{
        .text{display: inline-block;}
      }
    } 
}

/*=> 1024px Igual o mayor a 1024px se aplicarán los siguientes estilos */
@media (min-width: 1024px) {}

/* # Desktop
-------------------------------------------------------------------- */
/*=> 1280px Igual o mayor a 1280px se aplicarán los siguientes estilos */
@media (min-width: 1280px) {}

/*=> 1536px Igual o mayor a 1536px se aplicarán los siguientes estilos */
@media (min-width: 1536px) {}