/* ==============================================
# STATUS CIRCLE BOX
============================================== */
.status-circle-box{
  display: flex;
  justify-content: center;  
  
  .hr{
    height: 2px;
    background-color: $fourth-color;
    margin: auto 0;
    width: 15px;
  }    
}

.status-circle {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-color: $fourth-color;
  border-radius: 50%;
  font-size: 1rem;
  line-height: 2rem;
  text-align: center;
  cursor: pointer;
  i{color:$primary-color;}

  &.in_progress{background-color: $warning-color;}
  &.finalized{background-color: $success-color;}
}