/* ==============================================
# TABS
============================================== */
.tabs-container {
    width: 100%;
    margin: auto;
    //margin-top: 20px;
}

.tabs{
    display: flex; 
    flex-wrap: wrap;
    border: 1px solid $tertiary-color;
    border-bottom: none;    
    background-color: $primary-color;

    @media (max-width: 768px) {
        flex-direction: column;
        align-items: stretch;
    }    
}

/* # Tabs button
------------------------------------ */
.tab-button {
    padding: 10px 20px;
    border: none;
    background: $primary-color;
    cursor: pointer;
    text-align: center;
    transition: background 0.3s;
    outline: none;
    border-right: 1px solid $tertiary-color;
}
.tab-button.active {
    background: $secondary-color;
    //border-bottom: 2px solid $highlight-color;
}
.tab-button:hover, .tab-button:focus {
    background: $tertiary-color;
    //border-bottom: 2px solid $highlight-color;
}

/* # Tab-content
------------------------------------ */
.tab-content {
    background-color:$primary-color;
    border: 1px solid $tertiary-color;
    padding: 20px;
}
.tab-pane {display: none;}
.tab-pane.active {display: block;}


