/*Estilos de tabla editable*/

#tablaEditable {
  margin-bottom: 1rem;
}

#tablaEditable thead tr th{
  font-weight: bold;
}

#tablaEditable td {
  padding: 5px;
}

#tablaEditable td input[disabled],
#tablaEditable td select[disabled],
#tablaEditable td textarea[disabled] {
  border: none;
  background: transparent;
  font: inherit;
  color: inherit;
  pointer-events: none;
  resize: none;
  appearance: none;
  padding: 0;
}

#table_cancelbtn,
#table_savebtn{
  display: none;
}

