/*::::::::::::::::::::::
:::::::::STYLES:::::::::
::::::::::::::::::::::*/
/* -----------------------------------------------
  # Reset
----------------------------------------------- */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
*, *::before, *::after {box-sizing: border-box;}
a {
  outline: none;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  //Estados de botón
  &:hover, &:active {
    outline: none;
  }
}

.no-scroll {overflow: hidden;}

/*Transition*/
/* *, *::before, *::after{transition:all .2s ease-in-out;} */ 

/* -----------------------------------------------
  # Fonts
----------------------------------------------- */
body, form, label, input, textarea, select, a{
  font-family:$secondary-font;
  font-weight: 300;  
  font-size:1rem; /*font-size:16px;*/
  line-height: 1.5;
}
p,ul,ol {
  font-family:$secondary-font;
  font-weight: 300;  
  font-size:1rem;  
  line-height: 1.5rem;
  padding: 0;
  margin: 0 0 30px 0;
}
p:last-child {margin-bottom: 0;}
p.lead{
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: center;
  font-weight: 400;
}
th,td {
  font-family:$secondary-font;
  font-weight: 300;  
  font-size:1rem;  
}

a{font-size:1rem;}
small {font-size: 80%;}
strong {
  font-family:$secondary-font;
  font-weight: 500;  
}
/*Títulos*/
h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6,
.home h1,.home h2 {
  font-family:$primary-font;
  font-weight: 700;
  margin: 0 0 0.5rem 0;
  padding: 0;
}
h1, .h1 {font-size: 2rem;}
h2, .h2 {font-size: 1.75rem;}
h3, .h3 {font-size: 1.5rem;}
h4, .h4 {font-size: 1.25rem;}
h5, .h5 {font-size: 1rem;}
h6, .h6 {font-size: 0.875rem;}
h2.teaser {
  font-family:$primary-font;
  font-size: 2rem;
  font-weight: 700;
  font-style: italic;
  margin-top: 0px;
  text-transform: capitalize;
}
.font-xs{font-size:.8rem;}
.font-x1{font-size:1.2rem;}
.font-x2{font-size:1.8rem;}
.font-x3{font-size:2.8rem;}
.btn {
  font-family:$secondary-font;
  font-weight: normal;
}

/* -----------------------------------------------
  # Text styles
----------------------------------------------- */
.text-left {text-align:left;}
.text-right {text-align:right;}
.text-center {text-align:center;}
.text-lowercase {text-transform: lowercase;}
.text-uppercase {text-transform: uppercase;}
.text-capitalize {text-transform: capitalize;}

/* -----------------------------------------------
  # Image styles
----------------------------------------------- */
img, object, embed, video {max-width: 100%;}

img{
    width:auto;
    height:auto;
    margin:0;
    vertical-align:middle;
}
.ie6 img {width:100%;}
.img-hover:hover {opacity: 0.8;}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.w-100{width: 100%}
/*Background images*/
.bg-img{
  background-position:top center;
  background-repeat:no-repeat;
  background-size:cover;
}
.bg-attach{background-attachment: fixed;}

/* -----------------------------------------------
  # Container filter with background image
----------------------------------------------- */
.overlay {
  position: relative;
  z-index: 1;
  color: $primary-color;
  background-color: inherit;
  &::after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
    color: inherit;
    background-color: rgba(0, 0, 0, 0.55);
  }
}
.overlay.light::after{
  background-color:rgba(255,255,255,.55);
}

/*A partir de 1024px se aplicarán estos estilos => 1024px
Tabletas horizontales*/
@media (min-width: 1024px) {
  /* Márgenes y espaciados */
  h1,h2,h3,h4,h5,h6,
  .h1,.h2,.h3,.h4,.h5,.h6 {
    margin: 0 0 1.5rem 0;
  }

  h1, .h1 {font-size: 2.5rem;}
  h2, .h2 {font-size: 2rem;}
  h3, .h3 {font-size: 1.75rem;}
  h4, .h4 {font-size: 1.5rem;}
  h5, .h5 {font-size: 1.25rem;}
  h6, .h6 {font-size: 1rem;}  
}